<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" *ngIf="!isSearching">PeliculasApp</ion-title>
    <ion-searchbar *ngIf="isSearching" showCancelButton="focus" (ionCancel)="isSearching = false" class="custom-search"
      placeholder="Buscar peliculas" animated (ionInput)="onSearchMovies($event)"></ion-searchbar>

    <ion-buttons *ngIf="!isSearching" slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="light" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="isSearching = !isSearching">
        <ion-icon color="light" slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="isSearching">
    <app-scrolling-container [pagination]="{page:1, size:15}" mode="vertical" [items]="searchMovies">
      <ion-item *cardItem="let movie">
        <ion-thumbnail slot="start">
          <app-img-loader [imgClass]="'img-custom-scrolling-tumb'" [hasLoader]="false" [src]="movie.image"></app-img-loader>
        </ion-thumbnail>
        <ion-label>
          <h1>{{movie.title}}</h1>
          <app-rating [stars]="getRating(movie.imDbRating) + '%'"></app-rating>
          <p>{{movie.crew}}</p>
        </ion-label>
      </ion-item>
    </app-scrolling-container>
  </ng-container>

  <ng-container *ngIf="!isSearching">
    <ion-item lines="none">
      <h1><b>Peliculas más populares</b></h1>
    </ion-item>
    <app-scrolling-container mode="horizontal" [items]="movies250Top">
      <app-movie [movie]="movie" *cardItem="let movie"></app-movie>
    </app-scrolling-container>

    <ion-item lines="none">
      <h1><b>Nuestras peliculas</b></h1>
    </ion-item>

    <app-scrolling-container [pagination]="{page:1, size:15}" mode="grid" [items]="moviesPopular">
      <app-movie [movie]="movie" *cardItem="let movie"></app-movie>
    </app-scrolling-container>
  </ng-container>
</ion-content>